<header>
	<div class="container">
		<div class="brand">
			<div><a href="/" class="logo zm-logo-svg"></a></div>
			<div class="social">
				Suis-nous:
				<a href="https://www.facebook.com/zetamode/"><span class="fa fa-facebook-square"></span><span class="hidden">Facebook</span></a>
				<a href="https://twitter.com/zetamode"><span class="fa fa-twitter-square"></span><span class="hidden">Twitter</span></a>
				<a href="https://plus.google.com/116611164599921518753"><span class="fa fa-google-plus-square"></span><span class="hidden">Google+</span></a>
			</div>
		</div>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/#jeu">Jeu</a></li>
			<li><a href="/#mannequin">Mannequin</a></li>
			<li><a href="/#styliste">Styliste</a></li>
			<li><a href="/#defiles">Défilés</a></li>
			<li><a href="/#kickstarter">Financement</a></li>
			<li><a href="/#equipe">Équipe</a></li>
		</ul>
	</div>
</header>