<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}ZetaMode, jeu de mode en développement - Aide-nous à lancer la version Beta !</title>
	<meta name="description" content="Fais du shopping, des Photos, créé ton Book, participe à des Défilés, choisis ton Style spécialisé, joue avec les Tendances, créé des Vêtements et classe-toi en haut de l'affiche !">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico|Roboto:400,700" rel="stylesheet">
</head>
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}

{% include analytics.html %}

</body>
</html>
